header{

  position: relative;
  border-top:none;
  margin-bottom:15px;

  .brand {
    a {
      display: block;
    }

    img{
      position: absolute;
      height:75px;
      top:0;
      margin:0;
      left:15px;
      z-index: 600;
      border-radius: 2px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.13);

      @media (min-width: $screen-md-min) {
        top: -7.5px;
        margin:0;
        height: 90px;
        left:15px;
      }
    }
  }
}
