.featured-content-wrapper {

  background-image: none;

  .container-fluid {

      padding: 0 30px;
      margin: 0 auto;
      z-index: 2;

    .featured-item {

      background: #fff;
      position: relative;
      @include box-shadow(0 2px 12px 3px rgba(0, 0, 0, 0.15));

      &:nth-child(3n){
        @include flex();
      }

      &:nth-child(n){
        background: #fff;
      }

      &:after{
        content:"";
        top:0;
        left:0;
        border: 1px dashed #704400;
        position: absolute;
        margin:15px;
        width: calc(100% - 30px);
        height: calc(100% - 30px);
      }
    }

    .featured-section {
      margin:20px;
      z-index: 200;
      background: none;

      @media (min-width: $screen-md-min) {
        margin:0;
        padding: 10px 30px 30px;
      }
    }


    @media (min-width: $screen-md-min) {
      .flex-div{
        @include flexbox();

          > div {
            @include flex();
          }
      }
    }

    .featured-img {
      text-align: center;

      img {
        max-width:75%;
        min-width: 0%;
        height:auto;

        @media (min-width: $screen-lg-min) {
          //margin-top:-45px;
        }
      }
    }

    .featured-body{
      font-size: 18px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      font-weight: 400;
      color: #794400;

      @media (min-width: $screen-md-min) {
        text-align: left;
      }
    }

    h3 {
      width: 100%;
      font-size: 32px;
      margin:0;
      text-transform: capitalize;
      padding: 30px 35px 15px;
      font-size: 30px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      color: #c1311a;
      background: url('images/cream.png') top left repeat;
      text-shadow: none;
    }
  }
}
