.hero.hero-1 {
  margin-top:-15px; //move hero image up to header

  img {

    @media (min-width: $screen-md-min) {

    }
  }

  .hero-text{
    background: rgba(255,255,255,.85);
    margin: 30px 15px;
  }
}

.hero.hero-2 {
  padding: 20px 0px 0px;
  background-image: url('images/wood-texture.png');
  background-position: top-left;
  background-size: cover;
  overflow: hidden;

  .container-fluid {
    padding-bottom: 0px;
    position: static;

    @media (min-width: $screen-sm-min) {
      padding-bottom: 40px;
    }
  }

  .hero-text{

    @media (min-width: $screen-md-min) {
      margin: 30px 15px 30px 15px;
      width: 45%;
    }

  }

  .hero-img-wrapper {
    position: absolute;
    top:0;
    width:auto;
    height: 70%;
    left:15%;

    @media (min-width: $screen-sm-min) {
      left:50%;
      height: 105%;
    }

    img {
      height: 100%;
      width:auto;
      max-width: none;
    }

    @media (min-width: $screen-sm-min) {
      width:60%;
      margin:0 auto;
    }

  }
}
